@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
#map {
    position: absolute;
    top: 100;
    left; 100;
    width: 100%;
    height: 100%;
    border: none;
}

body {
    margin:auto;
}

h1{
    font-family: 'Quicksand', sans-serif;
    color:#e74c3c;
    position:relative;
    bottom:2px;
    padding-top: 10px;
    width: 500px;
    left:180px;
    margin-bottom: 0px;
}

h3{
    font-family: 'Quicksand', sans-serif;
    color:#95a5a6;
    position:relative;
    padding-left: 180px;
    margin-top: 0px;
    height: 1px;
}

select{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border: none;
    color: #fff;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;    
}

.box select{
    background: #3498db;
    height: 40px;
    width: 140px;
}

img
{
    height: auto;
    width: 130px;
    position:relative;
    bottom:70px;
    left:10px;
}

.submit
{
    width="50px";
    height="50px";
    position:relative;
    bottom:130px;
    left:620px; 
}

.addControl
{
    color: #2980b9;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}