@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

#maindiv {
    width: 100%;
	height: 190px;
    float: left;
}

#maison {
    height: 100%;
    width: 10%;
    float: left;
	position:relative;
}

#titre {
    height: 100%;
    width: 50%;
    float: left;
    margin: 5px;
}

#texte {
    height:50%;
    width: 100%;
    float: left;
}

#form {
    height: 50%;
    width: 100%;
    float: left;
}
h1{
    font-family: 'Quicksand', sans-serif;
    color:#e74c3c;
    position:relative;
    bottom:2px;
    padding-top: 10px;
    width: 100%;
    left:10px;
    margin-bottom: 0px;
}

h3{
    font-family: 'Quicksand', sans-serif;
    color:#95a5a6;
    position:relative;
    padding-left: 10px;
    margin-top: 0px;
    height: 1px;
}

select{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border: none;
    color: #fff;
    text-align: center;
    -moz-appearance: button;
    -webkit-appearance: button;
    appearance: none;  
    padding: 5px 45px;
	width: 20%;
}

.row{
		width: 100%;
		height: 100px;
		margin: 100px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: -22px;
	}
	select,input{
		float: left;
		padding: 5px;
		margin-left: 5px;
	}

.row input{
     color: #fff;
     height: 40px;
     width: 60px;
     font-family: 'Quicksand', sans-serif;
     font-size: 15px;
     border: none;
     background-color: #e67e22;
     margin-left: 10px;   
}

.box select{
    background: #3498db;
    height: 40px;
    width: 140px;
}

#logos
{
    height: 100%;
    width: 30%;
    float: left;
	position:relative;
}

#conteneur{
    width:100%;
    height:100%;
	float: left;
}

#textResult{
    width: 20%;
    height: 750px;
    float: left;
}

#imgBog{
    width: 100%;
	height: 25%;
    float: left;
	position:relative;
}

#textBog{
    width: 80%;
    height: 25%;
	font-family: 'Quicksand', sans-serif;
    color:#7e7b7a;
	float: left;
	margin-left: 8%;
}

#graph {
    width: 80%;
    height: 25%;
	font-family: 'Quicksand', sans-serif;
    color:#7e7b7a;
	float: left;
	margin-left: 0px;
}

#myCanvas {
  position: relative;
  margin-left: 40px;
}

#map{
	width: 80%;
    height: 750px;
}

.legend {
    line-height: 18px;
    color: #555;
    padding: 6px 8px;
    font: 'Quicksand', sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.input
{
    width="50px";
    height="50px";
    color: chocolate;
    position:relative;
    bottom:130px;
    left:620px;
    padding: 5px 45px;
    width:33%;
}

.addControl
{
    color: #2980b9;
}


